@font-face
{
	font-family:myfont;
	src:url("fonts/Adven.ttf");
}

body
{
	padding:0px;
	margin:0px;
}
#sidebar
{
	background:url("images/pic4.jpg");
	position:absolute;
	width:20%;
	height:100%;
	border-right:2px solid black;
}
p
{
	font-family:myfont;
	text-align:center;
	font-size:25px;
	text-transform:capitalize;	
}

#navigation
{
	background-color:lightpink;
	position:absolute;
	left:20%;
	width:80%;
	border-bottom:2px solid black;
	
}
li
{
  float:left;
  
 
}
ul{
	 list-style:none;
	
}
a{
	text-decoration:none;
	font-family:myfont;
    font-size:40px;
    padding:20px;	
}
a:hover{
	background-color:hotpink;
}

#mainpage
{
	background-color:none;
	position:absolute;
	left:20%;
	top:11%;
	width:80%;
	height:89%;
	
}
#mainimage
{
		width:599.5px;
		height:470px;
		position:relative;
		left:44.4%;
		top:13px;
		border:3px solid black;
}
#people1
{
  position:absolute;
  right:81.3%;
  width:200px;
  height:200px;
  top:12px;
  border-radius:50%;
  
}
#people2
{
	position:absolute;
    right:56%;
    width:200px;
    height:200px;
	top:250px;
	border-radius:50%;	
}






